<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>Selamat datang di {{ app_name }}</h1>
    <p>Dibuat oleh: {{ student_name }} - {{ student_class }}</p>

    <!-- <h2>Daftar Produk</h2>
    <ul> -->
        <!--{% for product in products %}-->
            <!-- <li>
                <img src="{{ product.thumbnail }}" width="100" alt="{{ product.name }}">
                <strong>{{ product.name }}</strong> - Rp{{ product.price }}
                <p>{{ product.description }}</p>
                <small>Kategori: {{ product.category }}</small>
                {% if product.is_featured %}
                    <span style="color:red;">(Unggulan)</span>
                {% endif %}
            </li>
        {% empty %}
            <p>Belum ada produk tersedia.</p>
        {% endfor %} -->
    </ul>
</body>
</html>
